{% extends "layout.html.twig"%}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet"  href="{{ asset('Css/layout.css') }}" />
{% endblock %}

{% block body %}
    <!-- As a link -->
    <nav class="navbar navbar-light navbarIPD">
      <a class="navbar-brand aNavBarIPD" href="#">IPD</a>
    </nav>
    <div class="container">
            {% block container %}
            {% endblock %}
    </div>
    
    {% block formulario %}
    {% endblock %}

{% endblock %}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascripts2 %}
    {% endblock %}
{% endblock %}
